registry=https://registry.npmjs.org/
@supabase:registry=https://registry.npmjs.org/
@tanstack:registry=https://registry.npmjs.org/
@eslint:registry=https://registry.npmjs.org/
@playwright:registry=https://registry.npmjs.org/
@testing-library:registry=https://registry.npmjs.org/
@types:registry=https://registry.npmjs.org/
@vitejs:registry=https://registry.npmjs.org/
